# Etapa 3: Análisis de datos utilizando SQL


## Objetivos

En esta práctica subiremos los datos a una base de datos SQL y realizaremos diferentes queries para obtener información sobre los datos

In [1]:
import pandas as pd
import numpy as np
!pip install PyMySQL --quiet
import pymysql as pymsql
!pip install mysql-connector --quiet
import mysql.connector
from sqlalchemy import create_engine
!pip install sqlalchemy-utils --quiet
from sqlalchemy_utils import database_exists, create_database
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.8/43.8 KB 674.8 kB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 15.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for mysql-connector (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 92.5/92.5 KB 3.5 MB/s eta 0:00:00

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
ruta = '/content/drive/MyDrive/Colab Notebooks/dataset_part_2.csv' 

dataset_part_2 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/dataset_part_2.csv')


### Tarea 1: Subir los datos a la base de datos:

Primero cargamos el archivo de datos `dataset_part_2.csv`.

In [41]:
df_path = "dataset_part_2.csv"
dataset_part_2 = pd.read_csv(df_path)

In [4]:
#Rellena la siguiente variable con tu nombre y apellido (Todo junto y sin espacios). 
nombreBD = 'CarlosRosadoRodriguez'
linkConexion = 'mysql+mysqlconnector://alumno:385bd4cf713a8a36@13.39.109.107/' + nombreBD
#Establecemos la conexión 
engine = create_engine(linkConexion)

In [5]:
if not database_exists(engine.url):
    create_database(engine.url)

In [42]:
# Añadir el dataframe a sql SPACEXTBL usando la función to_sql().


dataset_part_2.to_sql('SPACEXTBL', con = engine , if_exists = "replace")
dataset_part_2

,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,SpaceX,True,0,B0003,-80.577366,28.561857,0
1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,NASA(COTS),True,0,B0005,-80.577366,28.561857,0
2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,NASA (CRS),True,0,B0007,-80.577366,28.561857,0
3,4,2013-09-29,Falcon 9,500.000000,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,MDA,True,0,B1003,-120.610829,34.632093,0
4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,SES,True,0,B1004,-80.577366,28.561857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,86,2020-09-03,Falcon 9,15600.000000,Starlink-11,VLEO,KSC LC 39A,True ASDS,2,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,True,12,B1060,-80.603956,28.608058,1
86,87,2020-10-06,Falcon 9,15600.000000,Starlink-12,VLEO,KSC LC 39A,True ASDS,3,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,True,13,B1058,-80.603956,28.608058,1
87,88,2020-10-18,Falcon 9,15600.000000,Starlink-13,VLEO,KSC LC 39A,True ASDS,6,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,True,12,B1051,-80.603956,28.608058,1
88,89,2020-10-24,Falcon 9,15600.000000,Starlink-14,VLEO,CCSFS SLC 40,True ASDS,3,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,SpaceX,True,12,B1060,-80.577366,28.561857,1
89,90,2020-11-05,Falcon 9,3681.000000,GPS III SV04 (Sacagawea),MEO,CCSFS SLC 40,True ASDS,1,True,False,True,5e9e3032383ecb6bb234e7ca,5.0,United States Space Force,True,8,B1062,-80.577366,28.561857,1

In [ ]:
query = """select * from SPACEXTBL;"""
df  = pd.read_sql(query, con = engine )
df

In [ ]:
query = """select * from SPACEXTBL;"""
df  = pd.read_sql(query, con = engine )
df

## Tarea 2: Queries con SQL

### Ejercicio 1

##### Muestra las diferentes plataformas de lanzamiento:

In [15]:
#Rellena la variable query con tu consulta
query = """select distinct LaunchSite from SPACEXTBL    """
df  = pd.read_sql(query, con = engine )
df

     LaunchSite
0  CCSFS SLC 40
1   VAFB SLC 4E
2    KSC LC 39A

In [10]:
query =

### Ejercicio 2

##### Muestra 5 lanzamientos cuya plataforma empiece por 'CCS'

In [16]:
query = """select LaunchSite 

from SPACEXTBL 
where LaunchSite like 'CCS%'
limit 5   """
df  = pd.read_sql(query, con = engine )
df

     LaunchSite
0  CCSFS SLC 40
1  CCSFS SLC 40
2  CCSFS SLC 40
3  CCSFS SLC 40
4  CCSFS SLC 40

### Ejercicio 3

##### Mustra el la masa total transportada por los lanzamientos realizados donde el cliente es NASA (CRS)

In [18]:
query = """select PayloadMass, Customers 

from SPACEXTBL 
where Customers like 'N%'
limit 5   """
df  = pd.read_sql(query, con = engine )
df

   PayloadMass            Customers
0        525.0  N,A,S,A,(,C,O,T,S,)
1        677.0  N,A,S,A, ,(,C,R,S,)
2       2296.0  N,A,S,A, ,(,C,R,S,)
3       2216.0  N,A,S,A, ,(,C,R,S,)
4       2395.0  N,A,S,A, ,(,C,R,S,)

In [19]:
dataset_part_2

,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,1,2010-06-04,Falcon 9,8191.07911,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1,"S,p,a,c,e,X",True,0,B0003,-80.577366,28.561857,0
1,2,2012-05-22,Falcon 9,525.00000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1,"N,A,S,A,(,C,O,T,S,)",True,0,B0005,-80.577366,28.561857,0
2,3,2013-03-01,Falcon 9,677.00000,CRS-2,ISS,CCSFS SLC 40,None None,1,False,False,False,NaN,1,"N,A,S,A, ,(,C,R,S,)",True,0,B0007,-80.577366,28.561857,0
3,4,2013-09-29,Falcon 9,500.00000,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1,"M,D,A",True,0,B1003,-120.610829,34.632093,0
4,5,2013-12-03,Falcon 9,3170.00000,SES-8,GTO,CCSFS SLC 40,None None,1,False,False,False,NaN,1,"S,E,S",True,0,B1004,-80.577366,28.561857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,164,2022-08-28,Falcon 9,13260.00000,Starlink 4-23 (v1.5),VLEO,KSC LC 39A,True ASDS,2,True,True,True,5e9e3033383ecb075134e7cd,5,"S,p,a,c,e,X",True,1,B1069,-80.603956,28.608058,1
164,165,2022-08-31,Falcon 9,13260.00000,Starlink 3-4 (v1.5),VLEO,VAFB SLC 4E,True ASDS,7,True,True,True,5e9e3032383ecb6bb234e7ca,5,"S,p,a,c,e,X",True,6,B1063,-120.610829,34.632093,1
165,166,2022-09-17,Falcon 9,13260.00000,Starlink 4-34 (v1.5),VLEO,CCSFS SLC 40,True ASDS,6,True,True,True,5e9e3033383ecbb9e534e7cc,5,"S,p,a,c,e,X",True,5,B1067,-80.577366,28.561857,1
166,167,2022-09-24,Falcon 9,13260.00000,Starlink 4-35 (v1.5),VLEO,CCSFS SLC 40,True ASDS,4,True,True,True,5e9e3033383ecbb9e534e7cc,5,"S,p,a,c,e,X",True,0,B1072,-80.577366,28.561857,1
167,168,2022-10-05,Falcon 9,8191.07911,Crew-5,ISS,KSC LC 39A,True ASDS,1,True,False,True,5e9e3033383ecbb9e534e7cc,5,"N,A,S,A, ,(,C,C,t,C,a,p,)",True,0,B1077,-80.603956,28.608058,1

### Ejercicio 4

##### Muestra la masa media tranportada por lanzamientos con serie que comienza por B1

In [21]:
query = """select avg(PayloadMass), Customers, Serial 

from SPACEXTBL 
where Serial like 'B1%' 
Group by Serial

Limit 8
  """
df  = pd.read_sql(query, con = engine )
df

   avg(PayloadMass)            Customers Serial
0             500.0                M,D,A  B1003
1            3170.0                S,E,S  B1004
2            3325.0        T,h,a,i,c,o,m  B1005
3            2296.0  N,A,S,A, ,(,C,R,S,)  B1006
4            1316.0        O,r,b,c,o,m,m  B1007
5            4535.0        A,s,i,a,S,a,t  B1008
6            2216.0  N,A,S,A, ,(,C,R,S,)  B1010
7            4428.0        A,s,i,a,S,a,t  B1011

### Ejercicio 5

##### Muestra la fecha donde se realizo el primer aterrizaje exitoso sobre terreno (TRUE RTLS)

*Pista:Utiliza la función min*

In [24]:
query = """select min(date) 

from SPACEXTBL 
where LandingOutcome = 'TRUE RTLS' 


  """
df  = pd.read_sql(query, con = engine )
df

    min(date)
0  2015-12-22

In [25]:
dataset_part_2

,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,1,2010-06-04,Falcon 9,8191.07911,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1,"S,p,a,c,e,X",True,0,B0003,-80.577366,28.561857,0
1,2,2012-05-22,Falcon 9,525.00000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1,"N,A,S,A,(,C,O,T,S,)",True,0,B0005,-80.577366,28.561857,0
2,3,2013-03-01,Falcon 9,677.00000,CRS-2,ISS,CCSFS SLC 40,None None,1,False,False,False,NaN,1,"N,A,S,A, ,(,C,R,S,)",True,0,B0007,-80.577366,28.561857,0
3,4,2013-09-29,Falcon 9,500.00000,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1,"M,D,A",True,0,B1003,-120.610829,34.632093,0
4,5,2013-12-03,Falcon 9,3170.00000,SES-8,GTO,CCSFS SLC 40,None None,1,False,False,False,NaN,1,"S,E,S",True,0,B1004,-80.577366,28.561857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,164,2022-08-28,Falcon 9,13260.00000,Starlink 4-23 (v1.5),VLEO,KSC LC 39A,True ASDS,2,True,True,True,5e9e3033383ecb075134e7cd,5,"S,p,a,c,e,X",True,1,B1069,-80.603956,28.608058,1
164,165,2022-08-31,Falcon 9,13260.00000,Starlink 3-4 (v1.5),VLEO,VAFB SLC 4E,True ASDS,7,True,True,True,5e9e3032383ecb6bb234e7ca,5,"S,p,a,c,e,X",True,6,B1063,-120.610829,34.632093,1
165,166,2022-09-17,Falcon 9,13260.00000,Starlink 4-34 (v1.5),VLEO,CCSFS SLC 40,True ASDS,6,True,True,True,5e9e3033383ecbb9e534e7cc,5,"S,p,a,c,e,X",True,5,B1067,-80.577366,28.561857,1
166,167,2022-09-24,Falcon 9,13260.00000,Starlink 4-35 (v1.5),VLEO,CCSFS SLC 40,True ASDS,4,True,True,True,5e9e3033383ecbb9e534e7cc,5,"S,p,a,c,e,X",True,0,B1072,-80.577366,28.561857,1
167,168,2022-10-05,Falcon 9,8191.07911,Crew-5,ISS,KSC LC 39A,True ASDS,1,True,False,True,5e9e3033383ecbb9e534e7cc,5,"N,A,S,A, ,(,C,C,t,C,a,p,)",True,0,B1077,-80.603956,28.608058,1

In [43]:
set(dataset_part_2["Mission_Outcome"].to_list())

{False, True}

### Ejercicio 6

##### Muestra las series de los cohetes que aterrizaron sobre portaviones (TRUE ASDS) con una masa entre 4000 y 6000

In [30]:
query = """select Serial, LandingOutcome, PayloadMass    

from SPACEXTBL 
where LandingOutcome = 'TRUE ASDS' and PayloadMass BETWEEN 4000 and 6000 


  """
df  = pd.read_sql(query, con = engine )
df

  Serial LandingOutcome  PayloadMass
0  B1022      True ASDS       4696.0
1  B1026      True ASDS       4600.0
2  B1021      True ASDS       5300.0
3  B1031      True ASDS       5200.0
4  B1046      True ASDS       5800.0
5  B1046      True ASDS       4000.0
6  B1059      True ASDS       5000.0

### Ejercicio 7

##### Muestra el numero de lanzamientos que completaron su mision correctamente y aquellos que fallaron

In [44]:
query = """select count(Mission_Outcome)    

from SPACEXTBL 



Group By Mission_Outcome


  """
df  = pd.read_sql(query, con = engine )
df

   count(Mission_Outcome)
0                       2
1                      88

### Ejercicio 8

##### Muestra las series de los cohetes que transportaron la masa máxima

In [50]:
query = """select Serial, LandingOutcome, PayloadMass   

from SPACEXTBL 

WHERE PayloadMass = (select max(PayloadMass) from SPACEXTBL);




  """
df  = pd.read_sql(query, con = engine )
df

   Serial LandingOutcome  PayloadMass
0   B1048      True ASDS      15600.0
1   B1049      True ASDS      15600.0
2   B1051      True ASDS      15600.0
3   B1056     False ASDS      15600.0
4   B1048     False ASDS      15600.0
5   B1051      True ASDS      15600.0
6   B1049      True ASDS      15600.0
7   B1059      True ASDS      15600.0
8   B1049      True ASDS      15600.0
9   B1060      True ASDS      15600.0
10  B1058      True ASDS      15600.0
11  B1051      True ASDS      15600.0
12  B1060      True ASDS      15600.0

In [51]:
dataset_part_2

,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,1,2010-06-04,Falcon 9,6123.547647,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,SpaceX,True,0,B0003,-80.577366,28.561857,0
1,2,2012-05-22,Falcon 9,525.000000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,NASA(COTS),True,0,B0005,-80.577366,28.561857,0
2,3,2013-03-01,Falcon 9,677.000000,CRS-2,ISS,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,NASA (CRS),True,0,B0007,-80.577366,28.561857,0
3,4,2013-09-29,Falcon 9,500.000000,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,MDA,True,0,B1003,-120.610829,34.632093,0
4,5,2013-12-03,Falcon 9,3170.000000,SES-8,GTO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,SES,True,0,B1004,-80.577366,28.561857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,86,2020-09-03,Falcon 9,15600.000000,Starlink-11,VLEO,KSC LC 39A,True ASDS,2,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,True,12,B1060,-80.603956,28.608058,1
86,87,2020-10-06,Falcon 9,15600.000000,Starlink-12,VLEO,KSC LC 39A,True ASDS,3,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,True,13,B1058,-80.603956,28.608058,1
87,88,2020-10-18,Falcon 9,15600.000000,Starlink-13,VLEO,KSC LC 39A,True ASDS,6,True,True,True,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,True,12,B1051,-80.603956,28.608058,1
88,89,2020-10-24,Falcon 9,15600.000000,Starlink-14,VLEO,CCSFS SLC 40,True ASDS,3,True,True,True,5e9e3033383ecbb9e534e7cc,5.0,SpaceX,True,12,B1060,-80.577366,28.561857,1
89,90,2020-11-05,Falcon 9,3681.000000,GPS III SV04 (Sacagawea),MEO,CCSFS SLC 40,True ASDS,1,True,False,True,5e9e3032383ecb6bb234e7ca,5.0,United States Space Force,True,8,B1062,-80.577366,28.561857,1

### Ejercicio 9

##### Muestra los el resultados del aterrizaje, la serie del cohete y las plataforma de lanzamiento de aquellos lanzamientos fallidos o no intentados en el año 2015

In [54]:
query = """select Serial, LandingOutcome, PayloadMass, LaunchSite   

from SPACEXTBL 

WHERE Date = '2015' AND Mission_Outcome like 'False' or 'NaN'

Group By Date




  """

### Ejercicio 10

##### Muestra los resultados y la frecuencia de estos resultados entre 2010-06-04 y 2017-03-20 ordenados en orden descendiente según la frecuencia